:root {
  --cor-primaria: #1d428a;
  --cor-secundaria: #c8102e;
  --cor-vencedor: #2ecc71;
  --cor-perdedor: #e74c3c;
  --cor-fundo-principal: #f5f5f5;
  --cor-card: #ffffff;
  --cor-texto: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: var(--cor-fundo-principal);
  color: var(--cor-texto);
}

/* HEADER */
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  padding: 10px 20px;
}

.topbar img {
  height: 35px;
}

.topbar nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin: 0 12px;
  font-weight: 500;
  transition: transform 0.3s ease, color 0.5s ease;
}

.topbar nav a:hover {
  transform: scale(1.2);
  color: var(--cor-secundaria);
}

/* CONTAINER PRINCIPAL */
.container {
  display: flex;
  max-width: 1200px;
  margin: 20px auto;
  gap: 20px;
}

.left-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 3rem;
}

/* UPCOMING GAME */
.upcoming-game {
  background-color: var(--cor-card);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.upcoming-game h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--cor-primaria);
}

.ug-info {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
}

.ug-info h2 {
  margin-bottom: 15px;
  color: var(--cor-primaria);
}

.ug-info-teams {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 2rem;
}

.ug-info-teams article {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
}

.ug-info-teams img {
  width: 60px;
}

/* FUTURE GAMES */
.future-games {
  display: flex;
  gap: 15px;
}

.fg-card {
  flex: 1;
  background-color: var(--cor-card);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.fg-card h4 {
  color: var(--cor-secundaria);
  margin-bottom: 10px;
}

/* OLDER MATCHES */
.older-matches {
  flex: 1;
  background-color: var(--cor-card);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  margin-bottom: 0;
}

.older-matches h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--cor-primaria);
}

.om-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.game-result {
  display: flex;
  align-items: center;
  gap: 10px;
  width: min-content;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.winner {
  color: var(--cor-vencedor);
  font-weight: bold;
}

.loser {
  color: var(--cor-perdedor);
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
